.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 5vmin;
    height: 100px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}
p {
    font-family: 'Roboto', sans-serif;
}
.header > h1 {
    font-family: 'Dancing Script', cursive
}
.header > input {
    width: 50%;
    text-align:center;
}
.filter-p {
    margin-top: 15px;
}
.add {
    font-size: 2.5vmin;
}
.filter {
    font-size: 3vmin;
    background:none;
    border:none;
    color: blueviolet;
}
.filmBox {
    align-items:center;
    padding: 1%;
}
.filmBox > p {
    font-weight: 100;
    font-style: italic;
}
.form-div {
    justify-content:space-between;
}
.add-film {
    text-align:center;
}
.buttons, .inputs {
    display:flex;
    justify-content:space-evenly;
    margin-top: 5px;
}